<a href='/creatures'>Browse creatures</a>
<br>
<a href='creatures/new'>Add a creature</a>

<!-- ANOTHER WAY TO WRITE LINK IN RAILS IS link_to 'Whatever', creature (from the param OR prefix_path(creature.id)), :class=>'btn btn-primary btn-xs'  -->