<!DOCTYPE html>
<html>
<head>
  <title>BogAppLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Millions of Creatures<small>Creatures for free</small></h1>

<%= yield %>

<h1>Millions of Creatures<small>Creatures for me</small></h1>

</body>
</html>
